<!DOCTYPE html>
<html>
<head>
    <script src="/js/sockjs.js"></script>
    <script src="/js/stomp.js"></script>
    <script src="/js/jquery.min.js"></script>

    <script type="text/javascript">
        var stompClient = null;

        //连接
        $(function(){
            connect();
        });

        function connect() {
            var socket = new SockJS('/my-websocket'); //连接SockJS的endpoint名称为"endpointWisely
            stompClient = Stomp.over(socket);    //使用STMOP子协议的WebSocket客户端

            stompClient.connect({}, function (frame) { //连接WebSocket服务端
                setConnected(true);
//                console.log('Connected:' + frame);
                //通过stompClient.subscribe订阅/topic/getResponse 目标(destination)发送的消息,这个是在控制器的@SentTo中定义的
                /*stompClient.subscribe('/topic/send', function (response) {
                    showResponse(JSON.parse(response.body));
                });*/

                stompClient.subscribe('/topic/callback', function(response) {
                    showResponse(JSON.parse(response.body));
                });
                /*// 注册发送消息
                 stompClient.subscribe('/topic/send', function(msg) {
                 data.rows.push(JSON.parse(msg.body));
                 data.connected = true;
                 });
                 // 注册推送时间回调
                 stompClient.subscribe('/topic/callback', function(r) {
                 data.time = '当前服务器时间：' + r.body;
                 data.connected = true;

                 });*/
            });
        }
        function setConnected(connected) {
            $('#connect').attr("disabled", connected);
            $('#disconnect').attr("disabled", !connected);
            document.getElementById('conversationDiv').style.visibility = connected ? 'visible' : 'hidden';
            $('#msg').html();
        }

        function disconnect() {
            if (stompClient != null) {
                stompClient.disconnect();
            }
            setConnected(false);
            console.log("连接关闭 Disconnected");
        }

        function sendName() {
            var name = $("#name").val();
            //向"send"映射路径 发送消息, 注意必须要加上 客户端订阅消息的基础路径
            stompClient.send("/app/send", {}, JSON.stringify({'message': name}));
        }

        function showResponse(message) {
            $('#msg').html(message.message +"-"+message.date);
        }

    </script>
</head>
<body>

<noscript><h2 style="color:#ff0000">抱歉,您的浏览器不支持改功能!</h2></noscript>
<div>
    <div>
        <button id="connect" onclick="connect();">连接</button>
        <button id="disconnect" disabled="disabled" onclick="disconnect();">断开连接</button>
    </div>
    <div id="conversationDiv">
        <label>请输入您的姓名</label><input type="text" id="name"/>
        <button id="sendName" onclick="sendName();">发送</button>
        <p id=""></p>
    </div>

    <div id="msg"></div>
</div>

</body>
</html>